html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
  margin: 0px;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-image: url("img/vivid-blurred-colorful-wallpaper-background.jpg");
}
.container {
  width: 900px;
  height: 650px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  width: 900px;
  justify-content: space-between;
  align-items: center;
}
.name {
  font-weight: 500;
  color: white;

  width: 400px;
  font-size: 40px;
}
.date-box {
  display: flex;
  gap: 20px;
}
.date,
.time {
  color: white;
  font-size: 15px;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.total-info {
  display: flex;
  gap: 4vw;
  margin-top: 50px;
}
.location-icon {
  color: white;
  width: 35px;
}
.input:focus {
  outline: none;
}

.btn,
.input-city-name {
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #dcf4fe;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.input-city-name {
  outline-color: #4fc3f7;
  padding: 5px;
}
.btn {
  width: 60px;
  cursor: pointer;
}
.btn:hover {
  background-color: #c3e9fa;
}
.box {
  display: flex;
  flex-direction: column;
}

.Temperature {
  display: inline-flex;

  justify-content: center;
  align-items: center;
  position: relative;
}
.Temperature::after {
  content: "";
  display: block;
  width: 3px;
  height: 200px;
  background-color: white;
  position: absolute;
  right: -20px;
  top: 20px;
}
.Temperature-num {
  font-size: 60px;
  color: white;
  display: flex;
}
.weather {
  width: 120px;
}
.weather-condition {
  color: white;
  font-size: 16px;
}
.weather-icon {
  height: 30vb;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  gap: 6vw;
}
.row-1,
.row-2 {
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.WInfo {
  color: rgb(222, 222, 222);
}
.wind-speed,
.min,
.humidity,
.sunrise,
.sunset,
.max {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10vw;
}
.speed,
.min-temp,
.avg-humidity,
.sunrise-num,
.sunset-num,
.max-temp {
  color: white;
  font-weight: 500;
  font-size: larger;
}
.hourly-forecast {
  margin-top: 50px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  border-top: 2px solid white;
  justify-content: space-between;
}
.hourly-item {
  flex: 0 0 auto;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px 0 0;
  color: white;
}
.hourly-icon {
  width: 80px;
}
#max-icon {
  width: 15px;
}

.info-icon {
  width: 20px;
  color: white;
}
#sunrise-icon,
#wind-icon {
  width: 35px;
}

@media (max-width: 479px) {
  body {
    height: 700px;
  }
  .container {
    height: 650px;
  }
  .header {
    width: 450px;
    flex-direction: column-reverse;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .name {
    width: 300px;
    font-size: 30px;
  }
  .location {
    width: 200px;
    display: flex;
    flex-direction: column;
  }
  .location-icon {
    width: 30px;
  }
  .input {
    gap: 5px;
  }
  .date-box {
    flex-direction: column;

    gap: 0;
  }
  .date,
  .time {
    font-size: 13px;
  }
  .input-city-name {
    width: 130px;
  }
  .total-info {
    flex-direction: column;
    margin-top: 10px;
  }

  .info {
    gap: 4vw;
  }
  .row-1,
  .row-2 {
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hourly-icon {
    overflow-x: auto;
    white-space: nowrap;
  }
  .wind-speed,
  .min,
  .humidity,
  .sunrise,
  .sunset,
  .max {
    width: 15vw;
  }
  .speed,
  .min-temp,
  .avg-humidity,
  .sunrise-num,
  .sunset-num,
  .max-temp {
    color: white;
    font-weight: 400;
    font-size: medium;
  }
  .WInfo {
    font-size: 12px;
    text-align: center;
  }
  .weather-icon {
    height: 20vb;
  }

  .Temperature-num {
    font-size: 45px;
  }
  .hourly-item {
    width: 65px;
  }
  .hourly-icon {
    width: 50px;
  }
  .total-info {
    gap: 2vw;
  }
  .hourly-item {
    margin: 20px 0 0 0;
  }
  .hourly-forecast {
  }
  .Temperature::after {
    right: -15px;
    width: 300px;
    height: 3px;
    top: 135px;
  }
}

@media (min-width: 479px) and (max-width: 575px) {
  body {
    height: 700px;
  }
  .container {
    height: 600px;
  }
  .header {
    width: 450px;
  }
  .name {
    width: 300px;
    font-size: 30px;
  }
  .location {
    width: 200px;
  }
  .location-icon {
    width: 30px;
  }
  .input {
    gap: 5px;
  }
  .date-box {
    flex-direction: column;
    gap: 0;
  }
  .date,
  .time {
    font-size: 13px;
  }
  .input-city-name {
    width: 130px;
  }
  .total-info {
    flex-direction: column;
    margin-top: 10px;
  }

  .info {
    gap: 4vw;
  }
  .row-1,
  .row-2 {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hourly-icon {
    overflow-x: auto;
    white-space: nowrap;
  }
  .wind-speed,
  .min,
  .humidity,
  .sunrise,
  .sunset,
  .max {
    width: 15vw;
  }
  .speed,
  .min-temp,
  .avg-humidity,
  .sunrise-num,
  .sunset-num,
  .max-temp {
    color: white;
    font-weight: 400;
    font-size: medium;
  }
  .WInfo {
    font-size: 12px;
  }
  .weather-icon {
    height: 20vb;
  }

  .Temperature-num {
    font-size: 45px;
  }
  .hourly-item {
    width: 65px;
  }
  .hourly-icon {
    width: 65px;
  }
  .total-info {
    gap: 2vw;
  }
  .hourly-item {
    margin: 20px 0 0 0;
  }
  .hourly-forecast {
  }
  .Temperature::after {
    right: 0px;
    width: 300px;
    height: 3px;
    top: 135px;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .header {
    width: 550px;
  }
  .name {
    width: 300px;
    font-size: 32px;
  }
  .input-city-name {
    width: 130px;
  }
  .info {
    gap: 4vw;
  }
  .row-1,
  .row-2 {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hourly-icon {
  }
  .wind-speed,
  .min,
  .humidity,
  .sunrise,
  .sunset,
  .max {
    width: 15vw;
  }
  .speed,
  .min-temp,
  .avg-humidity,
  .sunrise-num,
  .sunset-num,
  .max-temp {
    color: white;
    font-weight: 400;
    font-size: medium;
  }
  .WInfo {
    font-size: 12px;
  }
  .weather-icon {
    height: 20vb;
  }

  .Temperature-num {
    font-size: 45px;
  }
  .hourly-item {
    width: 65px;
  }
  .hourly-icon {
    width: 65px;
  }
  .total-info {
    gap: 2vw;
  }
  .hourly-item {
    margin: 20px 0 0 0;
  }
  .Temperature::after {
    right: 0px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .header {
    width: 700px;
  }

  .info {
    gap: 4vw;
  }
  .wind-speed,
  .min,
  .humidity,
  .sunrise,
  .sunset,
  .max {
    width: 15vw;
  }
  .weather-icon {
    height: 25vb;
  }
  .total-info {
    gap: 2vw;
  }
  .Temperature::after {
    right: -8px;
  }
}
